.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  background-color: #688ac0;
  color: #fff;
  margin: 15px 20px;
  border-radius: 8px;
  position: relative;
  z-index: 9999;
  position: sticky;
  top: 0;
}

.logo-image{
    height: 25px;
    width: auto;
    display: block;
}

.header-area{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 25px; 
    display: flex;
    align-items: flex-start;
    border-radius: 5px; 
    gap: 12px;
    width: max-content;
}

.header-keyword{
    position: relative;
    height: 25px; 
    display: flex;
    align-items: center;
    border-radius: 10px; 
    background-color: #FFFFFF;
    overflow: hidden;
}

.header-keyword-input{
    width: 200px;
    height: 100%;
    padding: 0 30px 0 10px;
    box-sizing: border-box;
    border: none;
}

.header-keyword-button{
    position: absolute;
    right: 0px;
    width: 25px;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #B8EAFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.header-keyword-button-icon{
    right: 14px;
    height: 14px;
    object-fit: contain;
    
}

.category{
    width:100px;
    height: 25px;
    position: relative;
}

.category-list{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 12px 0 6px;
    font-size: 9px;
    letter-spacing: -0.5px;
    font-family: sans-serif;
    color: #333;
    position: relative;
}

.category-list::after {
content: "";
position: absolute;
right: 6px;
top: 57%;
transform: translateY(-50%);
width: 10px;
height: 10px;
background-image: url(./pull.png);
background-repeat: no-repeat;
background-size: contain;
}

.category-option{
position: absolute;
top: calc(100% + 4px);
left: auto;
right: auto;
width: max-content;
width: 120%;
box-sizing: border-box;
max-height: 300px;
overflow-y: auto;
background-color: #ffffff;
list-style: none;
margin: 0;
padding: 4px 20px;
}

.category-item{
    padding: 0px 0px;
    font-size: 10px;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    list-style: none;
    text-align: left;
}

.header-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}