.container {
  padding: 20px;
  font-family: sans-serif;
  color: #000;
  background-color: #B8EAFF;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 330px), 1fr));
  max-width: calc(330px * 3 + 20px * 2);
  gap: 20px;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.card {
  border: 3px dashed #688AC0;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.product-header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}

.id {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}

.name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.stockBox {
  display: flex;
  justify-content: space-between;
  padding: 25px 10px;
  border-radius: 4px;
  background-color: #B8EAFF;
  font-weight: bold;
  overflow-wrap: break-word;
  font-size: larger;
}

.footer {
    font-size: small;
    margin-bottom: auto;
    padding-top: 100px;
    padding-bottom: 0;
}